:root{
    --fonte-principal: 'Montserrat';
    --fonte-secundaria: 'Inter';
}

.main_div{
    display: flex;
    flex-direction: row;
    margin: 186px 0 0 240px;
    gap: 32px;
}

.main_text{
    gap: 32px;
    width: 31.37rem;
}

.main_text1{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3rem;
    line-height: 59px;
}

.main_text2{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
}

.main_foto_engnet{
    width: 581px;
    height: 402px;
}

@media (max-width: 1084px){
    .main_div{
        flex-direction: column;
        margin: 80px 0 0 240px;
    }

    .main_foto_engnet{
        width: 581px;
        height: 402px;
        margin-bottom: 50px;
    }
}

